<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mydeerlet.home">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".HomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!--
            android:windowSoftInputMode="stateHidden|adjustResize"
            adjustResize：该Activity总是调整屏幕的大小以便留出软键盘的空间
            stateHidden：用户选择activity时，软键盘总是被隐藏
            android:screenOrientation="portrait"是限制此页面数竖屏显示。
        -->

        <activity
            android:name=".activity.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <!--
        android:enabled="true"  这个属性用于指示该服务是否能够被实例化。如果设置为true，则能够被实例化，否则不能被实例化。默认值是true
        android:exported="false" 这个属性用于指示该服务是否能够被其他应用程序组件调用或跟它交互。
        如果设置为true，则能够被调用或交互，否则不能。设置为false时，
        只有同一个应用程序的组件或带有相同用户ID的应用程序才能启动或绑定该服务。
        -->
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false"
            android:process=":download" />

        <provider
            android:name=".service.DownloadProvider"
            android:authorities="com.mydeerlet.home.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity android:name=".activity.LogActivity"></activity>
    </application>

</manifest>